/* General */
body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	overflow-x: hidden;
}

a {
	color: #fff;
	font-weight: bold;
}

.social-header {
	margin-top: 12px;
}

.social-header a {
color: #fff;
}

.social-header a .fa-inverse {
    color: #36458A;
    font-size: 2em;
}

.elemento{
    width: auto;
    height: 120px;
}
.time { 
    position: absolute;
    top: 20%;
    left: 27%;
    color: #36458A;
	font-weight: bold;
}

.time > h1 {
  margin-top: -35px;
  margin-left: 5px;
  font-size: 10em;

}
.time > p {
  margin-top: -30px;
  margin-left: 28px;
  font-size: 2em;

}
.space{
    height: 400px;
}
.space-min{
  height: 30px;
}

/* Main */
#main > .container {
    box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
    height: auto;
    background-image: url("../img/bg-monedas.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 4em;
    
}


.big_circle {
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background-color: #EFF0F5;
    /* position: absolute;
    top: 45%;
    left: 32%; */
    border-width:15px;
    border-style:solid;
    border-color:#ffc300;
    justify-content: center;
	  align-items: center;
	  text-align: center;
    margin:0px auto;
    box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
  }

 
  
  .little_circle {
    color: white;
    font-weight: bold;
    font-size: 25px;
    width:3em;
    height:3em;
    border-radius:50%;
    background-color: #36458A;
    position:relative;
    border-width:1px;
    border-style:solid;
    border-color:#ffc300;
  }
  .little_circle more{
    font-size: 2em;
    justify-content: center;
	  align-items: center;
	  text-align: center;
    margin:0px auto;
  }
    
  .little_circle_enable {
    width: 2em;
    height: 2em;
    color: #ffc300;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #ffc300;
    text-align: inherit;
    font-size: 15px;
    left:25px;
  }

  .badge{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #E87C0A;
    color: white;
    position: relative;
    bottom: -1em;
    right: -1em;
  }

  .badge_active{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #FFC588;
    color: white;
    position: relative;
    bottom: 1em;
    right: -1em;
  }
  
  .img-user{
    width: 50%;
    height: 50%;
  }
  .quick-btn {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 69px;
    padding-top: 16px;
    margin: 8px;
    color: #fff;
    background-color: #E87C0A;
    text-align: center;
    text-decoration: none;
    border-radius: 6%;
  }
  .quick-btn-light {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 69px;
    padding-top: 16px;
    margin: 8px;
    color: #fff;
    background-color: #FFC588 ;
    text-align: center;
    text-decoration: none;
    border-radius: 6%;
  }
  .quick-btn .label {
    position: absolute;
    top: 40px;
    left:25px;
    
  }

  .quick-btn-light .label {
    position: absolute;
    top: 40px;
    left:25px;
  }
  
  .btn-primary {
    color: #ffffff;
    background-color: #36458A;
    border-color: #36458A;
  }
   .quick-btn  .content-part  {
    margin-top: -10px;
    font-weight: 900;
  }
  .quick-btn-light  .content-part  {
    margin-top: -10px;
    font-weight: 900;
  }
  
  #little_one {
    bottom: 2.2em;
    right: -16.9em;
    margin-left: -17px;

  }
  
  #little_two {
    bottom: 1.5em;
    left: 19.5em;
    margin-left: -15px;

  }
  
  #little_three {
    bottom: -0.1em;
    right: -20em;
    margin-left: 0px;;
  }

   #little_four {
    right: -19em;
    top: 0.5em;
    margin-left: 23px;
  }

  #little_five {
    right: -17.5em;
    top: 1em;
    margin-left: 35px;
  }

  #little_six {
    bottom: -1em;
    left: 16em;
    margin-left: 20px;
  }

  #little_seven {
    bottom: -0.5em;
    left: 14em;
    margin-left: -1px;
  }

  #little_eight {
    bottom: 1.5em;
    left: 10.5em;
  }

  #little_nine {
    bottom: 4.1em;
    left: 7em;
  }

  #little_ten {
    bottom: 8em;
    left: 3.1em;
  }

  #little_eleven {
    bottom: 13.5em;
    left: -01em;
  }

  #little_twelve {
    bottom: 20em;
    left: -4em;
  }


  #little_thirteen {
    bottom: 27em;
    left: -5em;
  }

  #little_fourteen {
    bottom: 33.9em;
    left: -5.1em;
  }

  #little_fifteen {
    bottom: 40.5em;
    left: -4em;
  }


  #little_sixteen {
    bottom: 46.5em;
    left: -2em;
  }

  #little_seventeen {
    bottom: 52em;
    left: 1em;
  }

  #little_eighteen {
    bottom: 56em;
    left: 4.7em;
  }

  #little_nineteen {
    bottom: 59em;
    left: 8.5em;
  }


  #little_twenty{
    bottom: 61.3em;
    left: 12.4em;
  }

/* Footer */
footer {
	background-color: #78CCF5;
	font-size: 12px;
	padding: 10px 0;
}

footer ul {
  margin-bottom: 0;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

.rey-top{
  top: -2.5em;
}
/* Helpers */
.mar-top-80 {
	margin-top: 80px;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
  .big_circle {
    width: 12em;
    height: 11em;
    border-radius: 50%;
    background-color: #EFF0F5;
    border-width: 8px;
    border-style: solid;
    border-color: #ffc300;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 90px -26px;
  }

 
  
  .little_circle {
    color: white;
    font-weight: bold;
    font-size: 9px;
    width:3em;
    height:3em;
    border-radius:50%;
    background-color: #36458A;
    position:relative;
    border-width:1px;
    border-style:solid;
    border-color:#ffc300;
  }
  .little_circle more{
    font-size: 2em;
    justify-content: center;
	  align-items: center;
	  text-align: center;
    margin:0px auto;
  }
  .badge{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #E87C0A;
    color: white;
    position: relative;
    bottom: 2em;
    right: -2em;
  }

  .time > h1 {
    margin-top: -31px;
    margin-left: -33px;
    font-size: 4em;
  
  }
  .time > p {
    margin-top: -15px;
    margin-left: -29px;
    font-size: 1em;
  
  }
  #little_one {
    bottom: 2.4em;
    right: -17.9em;
    margin-left: -13px;
  }
  #little_two {
    bottom: 2em;
    left: 20.4em;
    margin-left: -9px;
}
#little_three {
  bottom: 0.9em;
  right: -21em;
  margin-left: 0px;
}
#little_five {
  right: -17.5em;
  top: 1em;
  margin-left: 29px;
}
#little_seven {
  bottom: -0.5em;
  left: 15em;
  margin-left: -1px;
}
#little_eight {
  bottom: 1.1em;
  left: 11.3em;
}
#little_twenty {
  bottom: 61.6em;
  left: 12.9em;
}
}
@media (min-width: 768px) and (max-width: 1024px) {

  .big_circle {
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background-color: #EFF0F5;
    /* position: absolute;
    top: 45%;
    left: 32%; */
    border-width:15px;
    border-style:solid;
    border-color:#ffc300;
    justify-content: center;
	  align-items: center;
	  text-align: center;
    box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
    margin: 155px -125px;
  }
  .time > h1 {
    margin-top: -31px;
    margin-left: -119px;
    font-size: 10em;
  
  }
  .time > p {
    margin-top: -50px;
    margin-left: -90px;
    font-size: 3em;
  
  }
  .social-header {
    margin-top: 1px;
    margin-left: -37px;
}
 }